[Unit]
Description=Encrypted home directory for %I
DefaultDependencies=no
Conflicts=umount.target
IgnoreOnIsolate=true
Before=user@%i.service umount.target
Requires=user@%i.service
BindsTo=dev-mapper-#VGNAME_ESCAPED#\x2dhome_1000.device
After=dev-mapper-#VGNAME_ESCAPED#\x2dhome_1000.device

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutSec=0
ExecStart=#bindir#/dm-crypt-home-mount.sh "%i" "/dev/mapper/#VGNAME#-home_%i"
ExecStop=#bindir#/dm-crypt-home-umount.sh "%i"

[Install]
RequiredBy=user@%i.service

